extends layout
block content
    p.
        "Chemical States" is a pub trivia round that I. Just. Love. So much so, that I went full bore nerd on it and
        wrote an web app all about them.
    h2 What is "Chemical States"
    p.
