!!!5
html
    head
        title #{title} - Chemical States
        link(rel="stylesheet", href="/style/main.css")
        script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
        script(src="public/js/main.js")
    body
        header
            h1 Chemical States
        .container
            .main
                block content
        footer
            div
                Running on node with Express, Jade and Less