!!!5
html
    head
        title #{title} - Chemical States
        link(rel="stylesheet", href="/style/main.css")
    body
        header
            h1 Chemical States
        .container
            .main
                block content
        footer
            div
                Running on node with Express, Jade and Less